body {
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #121212;

  }

  h1 {
    text-align: center;
    color: aliceblue;
  }
  
  input[type="text"], button {
    font-size: 1em;
    padding: 0.5em 1em;
    border: none;
    border-radius: 0.25em;
    background-color: #5A5A5A;
    color: white;
    cursor: pointer;
  }
  
  input[type="text"] {
    width: 60%;
    color: aliceblue;
  }
  
  button {
    margin-left: 0.6250em;
  }
  
  #player {
    align-items: center;
    width: 60em;
    height: 33.75em;
    margin: 0 auto;
    color: aliceblue;
    box-shadow: 0em 0.6250em 1.2500em #888888;
  }

  
